app = "pdf-exporter"

primary_region = "bom"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  PORT = "3000"

  FREE_MAX_CHARS = "1500"
  FREE_MAX_EXPORTS = "3"
  PRO_MAX_CHARS = "20000"
  UPGRADE_URL = "https://pdf-exporter.com/upgrade"

[http_service]
  internal_port = 3000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
